.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #22965c;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    background-image: url('./../../../../assets/images/login-bg.jpg');
    background-size: cover;
    background-position: center;
}

.auth-form-container {
    padding: 20px;
    height: auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}